In [1]:
fruits = ["Mango" , "Banana" , "Pineapple" , "Grapes" , "Orange"]

In [2]:
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grapes', 'Orange']

In [3]:
fruits.pop()

'Orange'

In [4]:
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grapes']

In [5]:
fruits.append("Orange")

In [6]:
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grapes', 'Orange']

In [7]:
my_tuple = {35 , "Maths" , 13.56 , "India"  }

In [8]:
print(my_tuple)

{'India', 'Maths', 35, 13.56}

In [9]:
fruits.insert(1 , "Apple")

In [10]:
print(fruits)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Grapes', 'Orange']

In [11]:
my_dict = {"Car": "BMW" ,
           "Colour" : "Blue" ,
           "wheels" : "Alloy Wheels" ,
           "Doors"  : "2 Doors" ,
           "Engine" : "V20"}

In [12]:
print(my_dict)

{'Car': 'BMW', 'Colour': 'Blue', 'wheels': 'Alloy Wheels', 'Doors': '2 Doors', 'Engine': 'V20'}

In [13]:
print(my_dict["Doors"])

2 Doors

In [14]:
for keys in my_dict.keys():
        print(keys ," -> " , my_dict[keys])

Car  ->  BMW
Colour  ->  Blue
wheels  ->  Alloy Wheels
Doors  ->  2 Doors
Engine  ->  V20

In [15]:
my_set = {"Apple" , "Mango" , "Apple" , "Orange"}

In [16]:
my_set

{'Apple', 'Mango', 'Orange'}

In [17]:
for i in my_set:
    print(i)

Apple
Orange
Mango

In [18]:
arr = []
def even_num():
    for i in range(5 , 51):
        if i % 2 == 0:
            arr.append(i)
        else:
            continue

In [19]:
even_num()
print(arr)

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [20]:
college = "Progressive Educations Scociety's Modern College Of Engineering"

array = ["a","e","i","o","u"]
new_college = []
def no_vovels(string_input):
    for i in string_input.lower():
        if i in array:
            continue
        else:
            new_college.append(i)
no_vovels(college)

name = "".join(new_college)
print(name)

prgrssv dctns sccty's mdrn cllg f ngnrng

In [21]:
num = int(input("Enter the number: "))

for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

Enter the number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [22]:
class Dog:
    attr1 = "mammal"

    def __init__(self , name):
        self.name = name

    def speak(self):
        print(f"My name is {self.name}")

kutrya = Dog("Dog")
kutrya.speak()

My name is Dog

In [40]:
class student1:
    

    def __init__(self , name , roll_no):
        self.name = name
        self.roll_no = roll_no

        
class student2(student1):
   
    
    def __init__(self , name , roll_no, age , expected_salary):
        super().__init__(name , roll_no)
        self.age = age
        self.expected_salary = expected_salary

    def details(self):
        print("Name : ", self.name)
        print("Roll Number: ", self.roll_no)
        print("Age : ", self.age)
        print("Expected Salary: ", self.expected_salary)

vari = student2( "Sahil Gurjar" , 19 , 21 , 100000000)
vari.details()

Name :  Sahil Gurjar
Roll Number:  19
Age :  21
Expected Salary:  100000000