In [2]:
fruits = ["Mango" , "Banana" , "Pineapple" , "Grapes" , "Orange"]

In [3]:
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grapes', 'Orange']

In [4]:
fruits.pop()

'Orange'

In [5]:
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grapes']

In [6]:
fruits.append("Orange")

In [7]:
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grapes', 'Orange']

In [8]:
my_tuple = {35 , "Maths" , 13.56 , "India"  }

In [9]:
print(my_tuple)

{'Maths', 35, 'India', 13.56}

In [10]:
fruits.insert(1 , "Apple")

In [11]:
print(fruits)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Grapes', 'Orange']

In [26]:
my_dict = {"Car": "BMW" ,
           "Colour" : "Blue" ,
           "wheels" : "Alloy Wheels" ,
           "Doors"  : "2 Doors" ,
           "Engine" : "V20"}

In [28]:
print(my_dict)

{'Car': 'BMW', 'Colour': 'Blue', 'wheels': 'Alloy Wheels', 'Doors': '2 Doors', 'Engine': 'V20'}

In [29]:
print(my_dict["Doors"])

2 Doors

In [43]:
for keys in my_dict.keys():
        print(keys ," -> " , my_dict[keys])

Car  ->  BMW
Colour  ->  Blue
wheels  ->  Alloy Wheels
Doors  ->  2 Doors
Engine  ->  V20

In [44]:
my_set = {"Apple" , "Mango" , "Apple" , "Orange"}

In [45]:
my_set

{'Apple', 'Mango', 'Orange'}

In [48]:
for i in my_set:
    print(i)

Mango
Apple
Orange

In [50]:
arr = []
def even_num():
    for i in range(5 , 51):
        if i % 2 == 0:
            arr.append(i)
        else:
            continue

In [52]:
even_num()
print(arr)

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [101]:
college = "Progressive Educations Scociety's Modern College Of Engineering"

array = ["a","e","i","o","u"]
new_college = []
def no_vovels(string_input):
    for i in string_input.lower():
        if i in array:
            continue
        else:
            new_college.append(i)
no_vovels(college)

name = "".join(new_college)
print(name)

prgrssv dctns sccty's mdrn cllg f ngnrng

In [102]:
num = int(input("Enter the number: "))

for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

Enter the number:  39

39 * 1 = 39
39 * 2 = 78
39 * 3 = 117
39 * 4 = 156
39 * 5 = 195
39 * 6 = 234
39 * 7 = 273
39 * 8 = 312
39 * 9 = 351
39 * 10 = 390

In [106]:
class Dog:
    attr1 = "mammal"

    def __init__(self , name):
        self.name = name

    def speak(self):
        print(f"My name is {self.name}")

kutrya = Dog("Dog")
kutrya.speak()

My name is Dog

In [3]:
class student1:
    name = "name"
    roll_no = "roll_no"

    def __init__(self , name , roll_no):
        self.name = name
        self.noll_No = roll_no

        
class student2(student1):
    age = "age"
    expected_salary = "expected_salary"
    
    def __init__(self , name , roll_no , age , expected_salary):
        super().__init__(name , roll_no)
        self.age = age
        self.expectde_salary = expected_salary

    def details(self):
        print("Name : ", self.name)
        print("Roll Number: ", self.roll_no)
        print("Age : ", self.age)
        print("Expected Salary: ", self.expected_salary)

vari = student2("Sahil" , 19 , 21 , 100000000)
vari.details()

Name :  Sahil
Roll Number:  roll_no
Age :  21
Expected Salary:  expected_salary